.carousel {
  &__wrapper {
  }
  &__inner {
    background: var(--clr-white);
    border-radius: 10px;
    border: 2px solid #333;
    //temporary style
    min-height: 350px;
  }
  &__image {
    padding: 0.5rem;

    border-radius: 20px;
  }
  &__buttonsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 2;
    margin-top: 1rem;
  }
  &__buttons {
    outline: none;
    border: none;
    align-self: center;
    background: transparent;
    cursor: pointer;

    div > svg {
      width: 35px;
      height: 35px;
    }
  }
  &__previous {
    grid-column: 1;
    justify-self: end;
    margin-right: 1rem;
  }
  &__next {
    grid-column: 2;
    justify-self: start;
    margin-left: 1rem;
  }
}
