@import "mixins";
.footer {
  &__wrapper {
    width: 100%;
    height: 75px;
    background-color: var(--clr-white);
  }

  &__inner {
    @include flexCenter;
    height: 100%;
  }

  &__text {
    font-family: var(--ff-primary);
    font-size: var(--font-size-sm);
    color: var(--fc-grey);
  }
}
