@import "resets";
@import "mixins";
@import "utilities";
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;1,300&family=Lobster&family=Londrina+Solid:wght@400;900&family=Open+Sans&family=Passion+One&display=swap");
:root {
  //MAX WIDTH OF CONTENT
  --max-width: 1200px;
  //FONT FAMILY
  --ff-primary: "Karla", sans-serif;
  --ff-secondary: "Passion One", cursive;
  --ff-hero: "Londrina Solid", cursive;
  --ff-text-main: "Lobster", cursive;
  --ff-text-secondary: "Open Sans", sans-serif;
  //FONT SIZES
  --font-size-xsm: clamp(1.25rem, 0.15vw + 1rem, 1.3rem);
  --font-size-sm: clamp(1.28rem, 0.17vw + 1.21rem, 1.43rem);
  --font-size-base: clamp(1.6rem, 0.34vw + 1.46rem, 1.9rem);
  --font-size-md: clamp(2rem, 0.61vw + 1.76rem, 2.53rem);
  --font-size-lg: clamp(2.5rem, 1vw + 2.1rem, 3.38rem);
  --font-size-xl: clamp(3.5rem, 2.56vw + 2.5rem, 4.5rem);
  --font-size-BIG: clamp(4.5rem, 3vw + 2.5rem, 10.5rem);
  //FONT COLORS
  --fc-primary-dark: #212529;
  --fc-secondary-dark: #5f5959;
  --fc-primary-light: #f7f7f7;
  --fc-secondary-light: #ffffff;
  --fc-accent: #ff5e5b;
  --fc-grey: #8d8d86;
  --fc-dark: #625b5b;

  //COLORS
  --clr-light: #ede8e8;
  --clr-dark: #625b5b;
  --clr-black: #3c3636;
  --clr-white: #fff;
  --clr-red: #ff5e5b;
  //RADIUS
  --border-radius: 20px;
  --border-tl-radius: 20px;
  --border-tr-radius: 20px;
  --border-bl-radius: 20px;
  --border-br-radius: 20px;
}

//UNIVERSAL STYLES
body {
  background-color: var(--clr-white);
}
h1 {
  font-family: var(--ff-primary);
}

a {
  font-family: "Passion One", cursive;
}

h2 {
  font-family: var(--ff-secondary);
  font-size: var(--font-size-md);
}
h3 {
  font-family: var(--ff-secondary);
  font-size: var(--font-size-base);
}
p {
  font-family: var(--ff-primary);
  font-size: var(--font-size-base);
  line-height: 1.8;
}
