.mobileNav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: pink;
  position: absolute;
  margin: 1rem;
  inset: 0px;
  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__iconContainer {
    grid-column: 3;
    justify-self: end;
    align-self: center;
    position: relative;
    z-index: 3;
  }
  &__ul {
    grid-row: 2 / -1;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 4rem;
  }
  &__li {
    margin: 1rem;

    a {
      text-transform: uppercase;
      color: white;
      font-size: 3rem;
      font-family: "Barlow Semi Condensed", sans-serif;
    }
  }
  &__icons {
    svg {
      width: 30px;
      height: 30px;
    }
  }
}
