.nav {
  &__ul {
    display: flex;
  }
  &__li {
    a {
      text-transform: uppercase;
      color: white;
      font-size: 3rem;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
      font-family: "Barlow Semi Condensed", sans-serif;
    }
  }
}
